
.M {
  font-size: 100px;
  text-align: center;
  font-weight: 650;
  color: darkorchid;
}

body {
  background: linear-gradient(to right, rgb(221, 0, 255), rgb(0, 255, 179));
  font-family: Arial, sans-serif;
}

.exercise-card {
  display: none;
  background-color: #383595;
  border-radius: 10px;
  padding: 30px;
  margin: 50px;
  font-size: 35px;
  text-align: center;
  color: white;
}

#exercise1 {
  display: block;
}

button {
  background-color: #4589a0;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 25px;
}

  
